.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-color);
  display: grid;
  place-items: center;
  z-index: 100;
}
.modal {
  background: var(--bg-primary);
  padding: 0.5rem;
  border: 2px solid var(--highlight-color);
  border-radius: 0.5rem;
}