.table {

}
.table > div:first-child {
  border: none;
  text-transform: uppercase;
  background: var(--highlight-color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.tasks > div:first-child {
  border-top: 2px solid var(--text-color);
}
.tasks > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
