.chartItem {
  border: 2px solid var(--text-color);
  border-radius: 5rem;
  height: 1.5rem;
  padding: 0.25rem;
  position: relative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header {
  z-index: 100;
}
.fill {
  height: 100%;
  border-radius: 5rem;
  display: flex;
  align-items: center;
}
.fill > h5{
  position: absolute;
  margin-left: 0.5rem;
}
