.tallyItem {
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.header > h5 {
  color: var(--text-color);
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 800;
}
.stats {
  border: 2px solid var(--text-color);
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.stats > p {
  font-size: 0.8rem;
  font-style: italic;
}
