.item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-top: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-transform: capitalize;
}
.id,
.description {
  flex: 2;
}
.status,
.priority {
  flex: 1;
}
.id > p > span {
  font-size: 0.8rem;
  padding: 0 0.5rem;
  background: var(--highlight-color);
  margin-left: 1rem;
  border-radius: 0.5rem;
  color: var(--bg-primary);
  text-transform: lowercase;
}
.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.buttons > button {
  background: none;
  border: none;
  cursor: pointer;
}
.cancelButton {
  color: var(--cancelled);
}
.rollbackButton {
  color: var(--backlog);
}
.updateButton {
  color: var(--completed);
}
