.item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-top: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.id, .description {
  flex: 2;
}
.status, .priority {
  flex: 1;
}
.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.buttons > button {
  background: none;
  border: none;
  color: var(--backlog);
  cursor: pointer;
}
.buttons > button:first-child {
  color: var(--cancelled);
}
.buttons > button:last-child {
  color: var(--completed);
}