.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.form > h3 {
  text-align: center;
}
.form > input {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  background: #fff;
  color: #1f1f1f;
  border: none;
  border-bottom: 1px solid var(--text-color);
}
.form > textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #1f1f1f;
  height: 100px;
}
.addButton {
  position: absolute;
  bottom: -1.5rem;
  left: calc(50% - 1.5rem);
  width: 2rem;
  height: 2rem;
  background: var(--highlight-color);
  border: none;
  color: var(--bg-primary);
  border-radius: 50%;
  cursor: pointer;
}
.prioritySelection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}
