#navbar {
  box-sizing: border-box;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 30px var(--bg-primary);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 2px solid var(--text-color);
  border-top: none;
}
#navbar > div:last-child {
  margin-left: auto;
}
.logoContainer > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.logoContainer > a > div {
  font-weight: 600;
  letter-spacing: 1px;
}
.logoContainer > a > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-size: 4rem;
  background: var(--highlight-color);
  color: var(--bg-primary);
  border-radius: 0.5rem;
}
.logoContainer > a > div:last-child {
  margin-left: 0.25rem;
  font-size: 1.2rem;
  color: var(--highlight-color);
}
.linksContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.linksContainer > button {
  margin-left: 1rem;
  width: 32px;
  height: 32px;
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.linksContainer > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksContainer > a > div {
  height: 2px;
  width: 0;
  background: var(--highlight-color);
  transition: width 0.3s ease-in-out;
}
.linksContainer > a:hover > div {
  width: 100%
}
#mobileNav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid var(--text-color);
}
#mobileNav > .logoContainer > a > div {
  color: var(--bg-primary);
  font-size: 2rem
}
.mobLinks {
  position: relative;
}
.mobLinks > button {
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 0 0.5rem;
  border: none;
  background: none;
}
.mobLinks > button > svg {
  transition: transform 0.3s ease-in-out;
}
.dropdown {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color);
  background: var(--text-color);
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 200;
}
.dropdown > a {
  text-decoration: none;
  color: var(--bg-primary);
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 0.5rem;
  border: none;
  background: none;
}
.themeToggle > button {
  font-size: 1.2rem;
  width: 48px;
  height: 48px;
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
/* Mobile View */
@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  #mobileNav {
    display: flex;
  }
}