#navbar {
  box-sizing: border-box;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 30px var(--bg-primary);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 2px solid var(--text-color);
  border-top: none;
}
#navbar > div:last-child {
  margin-left: auto;
}
.logoContainer > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.logoContainer > a > div {
  font-weight: 600;
  letter-spacing: 1px;
}
.logoContainer > a > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-size: 4rem;
  background: var(--highlight-color);
  color: var(--bg-primary);
  border-radius: 0.5rem;
}
.logoContainer > a > div:last-child {
  font-size: 1.2rem;
}
.linksContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.linksContainer > button {
  margin-left: 1rem;
  width: 32px;
  height: 32px;
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.linksContainer > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksContainer > a > div {
  height: 2px;
  width: 0;
  background: var(--highlight-color);
  transition: width 0.3s ease-in-out;
}
.linksContainer > a:hover > div {
  width: 100%
}