.background {
  width: 200vw;
  height: 200vh;
  background: radial-gradient(circle, transparent 25%, var(--bg-primary)  26%),linear-gradient(45deg, transparent 46%, var(--bg-secondary) 47%, var(--bg-secondary) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, var(--bg-secondary) 47%, var(--bg-secondary) 52%, transparent 53%);
  background-size: 2em 2em;
  background-color: var(--bg-primary);
}
