.list {
  box-sizing: border-box;
  max-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}
.display::-webkit-scrollbar {
  display: none;
}
.cards {
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cards::-webkit-scrollbar {
  display: none;
}
.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.empty {
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px var(--bg-primary);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .list {
    flex-direction: row;
    max-height: 180px;
  }
  .header {
    max-width: 60px;
    padding: 0.25rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
  .header > h5 {
    transform: rotate(-90deg);
  }
  .display {
    flex-direction: row;
  }
  .cards {
    flex-direction: row;
  }
  .cards > div {
  }
  .arrow {
    justify-content: flex-end;
  }
  .arrow > svg {
    transform: rotate(-90deg);
  }
}